@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header, 
  .footer {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .logo {
    color: #F9FAF8;
    font-size: 24px;  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    font-size: 18px;
}

  a {
    text-decoration: none;
    color: #E5E7EB;
  }

.container  {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 200px;
    padding-right: 200px;
    max-height: 250px;
    max-width: 1200px;
    flex-flow: column wrap;
    text-align: left;
}

.title  {
    color: #F9FAF8;
    background: #1F2937;
    font-size: 48px;  
    font-weight: bolder;
    max-width: 350px;
}

.text   {
    font-size: 18px;
    color: #E5E7EB;
    background: #1F2937;
    max-width: 450px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    text-align: left;
}

button   {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    max-width: 120px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
}

.image  {
    background-color:#6d747d;
    color: #F9FAF8;
    padding: 115px;
    text-align: center;
}
